
<div class="container my-5" id="data-panel">
  <div class="container my-5">
    <div class="text-center">
      {{err.message}}
      <input class="btn btn-outline-secondary" type ="button" onclick="history.back()" value="回到上一頁">
    </div>
  </div>
</div>
