<h1 class="restaurant-show-title">註冊</h1>
<div class="container">
  <div class="col-md-4 mx-auto">
    <div class="card-body">
      {{>message}}
      <form action="/users/register" method="post" class="row">
        <div class="col-12 mb-3">
          <label for="name" class="form-label visually-hidden">Name</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="名字">
        </div>
        <div class="col-12 mb-3">
          <label for="email" class="form-label visually-hidden">Email</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="電子郵件地址">
        </div>
        <div class="col-12 mb-3">
          <label for="password" class="form-label visually-hidden">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="設定密碼">
        </div>
        <div class="col-12 mb-3">
          <label for="confirmPassword" class="form-label visually-hidden">Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="確認密碼">
        </div>
        <button type="submit" class="btn btn-success col-12 mb-3">註冊</button>
        <hr>
        <p class="lead">已經有帳號？ <a href="/users/login" class="btn btn-primary m-3">登入</a></p>
      </form>
    </div>
  </div>
</div>
